.container {
  max-width: 1288px;
  padding: 0;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
}

.image {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.imgFoto {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: grey;
}

.imgTag {
  color: grey;
}

.imgLocation {
  color: grey;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  width: calc(100%) / 3;
  background-color: #b1a1a1;
}

.item {
  list-style-type: none;
  width: 500px;
  border: 2px solid rgb(110, 86, 86);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px;
}

.item-text {
  margin: 30px;
}
